<div class="row">
   <div class="overview-chart col-xs-6 col-sm-3" style="overflow: visible !important;">
        <canvas style="width: 200px;height: 200px;overflow: visible !important;" ng-init="getRTChart()" height="200px" id="chart-pie-rt" class="chart chart-pie" chart-data="pieRTData" chart-labels="pieRTLabels" chart-options="pieTVOptions"></canvas>
        <h4>Resource types</h4>
    </div>
     <div class="overview-chart col-xs-6 col-sm-3">
        <canvas ng-init="getTVChart()" height="200px" id="chart-pie-tv" class="chart chart-pie" chart-data="pieTVData" chart-labels="pieTVLabels" chart-options="pieTVOptions"></canvas>
        <h4>Terraform versions</h4>
    </div>

    <div class="col-xs-6 col-sm-3 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="glyphicon glyphicon-file fa-5x" aria-hidden="true"></h1>
                <div class="col-xs-9 text-right pull-right">
                    <div class="huge ng-binding">{{results.total}}</div>
                    <div class="ng-binding">statefiles versions stored</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results" class="row">
    <label id="navigate" ng-show="results">
        <span class="glyphicon glyphicon-triangle-left" ng-click="getStats(prevPage)" ng-show="prevPage"></span> {{startItems}}-{{itemsInPage}}/{{results.total}} <span class="glyphicon glyphicon-triangle-right" ng-click="getStats(nextPage)" ng-show="nextPage"></span>
    </label>
    <table class="table table-border table-striped">
        <thead>
            <th></th> <!-- lock -->
            <th></th> <!-- link -->
            <th>
                <a href="#" ng-click="sortType = 'path'">
                    Path
                    <span ng-show="sortType == 'path'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'terraform_version'">
                    TF Version
                    <span ng-show="sortType == 'terraform_version'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'serial'">
                    Serial
                    <span ng-show="sortType == 'serial'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'last_modified'">
                    Time
                    <span ng-show="sortType == 'serial'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'resources'">
                    Resources
                    <span ng-show="sortType == 'resources'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                Activity
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="r in results.states">
                <td><span ng-if="isLocked(r.path)" ng-init="lock=locks[r.path]" class="glyphicon glyphicon-lock" title="Locked by {{lock.Who}} on {{lock.Created | date:'medium'}} ({{lock.Operation}})"></span></td>
                <td><a href="state/{{r.path}}?versionid={{r.version_id}}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
                <td>{{r.path}}</td>
                <td>{{r.terraform_version}}</td>
                <td>{{r.serial}}</td>
                <td>{{r.last_modified | date:'medium'}}</td>
                <td>{{r.resource_count}}</td>
                <td ng-init="getActivity($index, r.path)">
                    <sparklinechart data="{{r.activity}}"></sparklinechart>
                </td>
            </tr>
        </tbody>
    </table>
</div>
