<div class="row">
    <div class="col-lg-9">
        <h1 class="page-header">Terraboard</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 ng-isolate-scope pull-right">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <h1 class="glyphicon glyphicon-file fa-5x" aria-hidden="true"></h1>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge ng-binding">{{results.total}}</div>
                        <div class="ng-binding">statefiles stored</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="results" class="row">
    <label id="navigate" ng-show="results">
        <span class="glyphicon glyphicon-triangle-left" ng-click="getStats(prevPage)" ng-show="prevPage"></span> {{startItems}}-{{itemsInPage}}/{{results.total}} <span class="glyphicon glyphicon-triangle-right" ng-click="getStats(nextPage)" ng-show="nextPage"></span>
    </label>
    <table class="table table-border table-striped">
        <thead>
            <th></th> <!-- link -->
            <th></th> <!-- lock -->
            <th>
                <a href="#" ng-click="sortType = 'path'">
                    Path
                    <span ng-show="sortType == 'path'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'terraform_version'">
                    TF Version
                    <span ng-show="sortType == 'terraform_version'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'serial'">
                    Serial
                    <span ng-show="sortType == 'serial'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'last_modified'">
                    Time
                    <span ng-show="sortType == 'serial'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'resources'">
                    Resources
                    <span ng-show="sortType == 'resources'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                Activity
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="r in results.states">
                <td><a href="state/{{r.path}}?versionid={{r.version_id}}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
                <td><span ng-if="isLocked(r.path)" class="glyphicon glyphicon-lock"></span></td>
                <td>{{r.path}}</td>
                <td>{{r.terraform_version}}</td>
                <td>{{r.serial}}</td>
                <td>{{r.last_modified | date:'medium'}}</td>
                <td>{{r.resource_count}}</td>
                <td ng-init="getActivity($index, r.path)">
                    <sparklinechart data="{{r.activity}}"></sparklinechart>
                </td>
            </tr>
        </tbody>
    </table>
</div>
