<div class="navbar navbar-light bg-light mb-4 navbar-expand-md" ng-controller="tbNavCtrl">
    <div class="container">
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
            data-target="#navbar-collapse-menu"> <span class="sr-only">Toggle navigation</span>
            &#x2630;</button> <a class="navbar-brand" href="#"><img src="static/logo.png" height="100%"></a>
        <ul class="nav navbar-nav navbar-collapse collapse" id="navbar-collapse-menu">
            <li ng-class="{active: page == &apos;overview&apos;}" class="nav-item"> <a href="./" class="nav-link"><span
                        class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Overview</a>
            </li>
            <li ng-class="{active: page == &apos;search&apos;}" class="nav-item"> <a href="search"
                    class="nav-link"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li id="states-select" class="nav-item">
                <ui-select ng-model="states.selected" theme="bootstrap" ng-disabled="disabled"
                    reset-search-input="false" style="min-width: 400px;" title="Choose a state file">
                    <ui-select-match placeholder="{{placeholder}}">{{placeholder}}</ui-select-match>
                    <ui-select-choices repeat="state in states | filter: $select.search | orderBy"> <a
                            href="state/{{state}}" target="_self">{{state}}</a>
                    </ui-select-choices>
                </ui-select>
            </li>
            <ul class="nav navbar-nav navbar-collapse collapse" id="navbar-collapse-menu" ng-if="user">
                <li class="dropdown nav-item"> <a data-toggle="dropdown" class="dropdown-toggle nav-link" href="#"><img
                            src="{{user.avatar_url}}" height="25px"></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="#">Logged in as {{user.name}}</a>
                        </li>
                        <li class="dropdown-item"><a href="/oauth2/sign_in">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>
</div>