<div class="navbar navbar-default navbar-fixed-top" ng-controller="tbNavCtrl">
    <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="static/logo.png" height="100%" /></a>
        </div>

        <ul class="nav navbar-nav navbar-collapse collapse" id="navbar-collapse-menu">
            <li ng-class="{active: page == 'overview'}">
                <a href="./"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Overview</a>
            </li>

            <li ng-class="{active: page == 'search'}">
                <a href="search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li id="states-select">
                <ui-select ng-model="states.selected"
                           theme="bootstrap"
                           ng-disabled="disabled"
                           reset-search-input="false"
                           style="min-width: 400px;"
                           title="Choose a state file">
                    <ui-select-match placeholder="{{placeholder}}">{{placeholder}}</ui-select-match>
                    <ui-select-choices repeat="state in states | filter: $select.search | orderBy">
                        <a href="state/{{state}}" target="_self">{{state}}</a>
                    </ui-select-choices>
                </ui-select>
            </li>
            <ul class="nav navbar-nav navbar-collapse collapse" id="navbar-collapse-menu" ng-if="user">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img src="{{user.avatar_url}}" height="25px" /></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Logged in as {{user.name}}</a></li>
                        <li><a href="/oauth2/sign_in">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>
</div>
