<div class="form-group">
    <form novalidate class="simple-form">
        Type <input ng-model="resType">
        ID <input ng-model="resID">
        Key <input ng-model="attrKey">
        Value <input ng-model="attrVal">

        <input type="submit" ng-click="doSearch()" value="Save" />
    </form>
</div>

<hr />

<div id="results">
    <table class="table table-border table-striped">
        <thead>
            <th>
                <a href="#" ng-click="sortType = 'path'">
                    Path
                    <span ng-show="sortType == 'path'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'version_id'">
                    Version ID
                    <span ng-show="sortType == 'version_id'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'tf_version'">
                    TF Version
                    <span ng-show="sortType == 'tf_version'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'serial'">
                    Serial
                    <span ng-show="sortType == 'serial'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'module_path'">
                    Module Path
                    <span ng-show="sortType == 'module_path'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'resource_type'">
                    Resource Type
                    <span ng-show="sortType == 'resource_type'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'resource_name'">
                    Resource ID
                    <span ng-show="sortType == 'resource_name'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'attribute_key'">
                    Key
                    <span ng-show="sortType == 'attribute_key'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'attribute_value'">
                    Value
                    <span ng-show="sortType == 'attribute_value'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="r in results | orderBy:sortType:sortReverse">
                <td>{{r.path}}</td>
                <td>{{r.version_id}}</td>
                <td>{{r.tf_version}}</td>
                <td>{{r.serial}}</td>
                <td>{{r.module_path}}</td>
                <td>{{r.resource_type}}</td>
                <td>{{r.resource_name}}</td>
                <td>{{r.attribute_key}}</td>
                <td>{{r.attribute_value}}</td>
            </tr>
        </tbody>
    </table>
</div>
