<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2">
        <label for="resource_type">Resource Type</label>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <label for="resource_id">Resource ID</label>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <label for="attribute_key">Attribute Key</label>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <label for="attribute_value">Attribute Value</label>
    </div>
</div>
<div class="row">
    <form class="form-inline" ng-submit="doSearch()" role="form">
        <div class="form-group col-xs-2 col-sm-2 col-md-2">
            <ui-select id="resource_type"
                       ng-model="$parent.resType"
                       theme="bootstrap"
                       ng-disabled="disabled"
                       ng-change="doSearch()"
                       style="min-width: 200px;"
                       reset-search-input="false"
                       title="Resource Type">
                <ui-select-match placeholder="Resource Type">{{$parent.resType}}</ui-select-match>
                <ui-select-choices repeat="k in resource_keys | filter: $select.search | orderBy">
                    {{k}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group col-xs-2 col-sm-2 col-md-2">
            <ui-select id="resource_id"
                       ng-model="$parent.resID"
                       theme="bootstrap"
                       ng-disabled="disabled"
                       ng-change="doSearch()"
                       style="min-width: 200px;"
                       reset-search-input="false"
                       title="Resource ID">
                <ui-select-match placeholder="Resource ID">{{$parent.resID}}</ui-select-match>
                <ui-select-choices repeat="k in resource_names | filter: $parent.resType | filter: $select.search | orderBy">
                    {{k}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group col-xs-2 col-sm-2 col-md-2">
            <ui-select id="attribute_key"
                       ng-model="$parent.attrKey"
                       theme="bootstrap"
                       ng-disabled="disabled"
                       ng-change="doSearch()"
                       style="min-width: 200px;"
                       reset-search-input="false"
                       title="Attribute Key">
                <ui-select-match placeholder="Attribute Key">{{$parent.attrKey}}</ui-select-match>
                <ui-select-choices
                    repeat="k in attribute_keys | filter: $select.search | orderBy"
                    refresh="refreshAttrKeys()"
                    refresh-delay="0">
                    {{k}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group col-xs-2 col-sm-2 col-md-2">
            <input id="attribute_value" type="text" class="form-control" ng-value="attrVal" placeholder="Attribute Value" ng-model="$parent.attrVal" ng-change="doSearch()" />
        </div>
        <button class="clear btn btn-warning" ng-click="clearForm()">Reset</button>
    </form>
</div>
<hr />

<label id="navigate" ng-show="results">
    <span class="glyphicon glyphicon-triangle-left" ng-click="doSearch(prevPage)" ng-show="prevPage"></span> {{startItems}}-{{itemsInPage}}/{{results.total}} <span class="glyphicon glyphicon-triangle-right" ng-click="doSearch(nextPage)" ng-show="nextPage"></span>
</label>

<div id="results">
    <table class="table table-border table-striped">
        <thead>
            <th></th>
            <th>
                <a href="#" ng-click="sortType = 'path'">
                    Path
                    <span ng-show="sortType == 'path'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'tf_version'">
                    TF Version
                    <span ng-show="sortType == 'tf_version'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'serial'">
                    Serial
                    <span ng-show="sortType == 'serial'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'module_path'">
                    Module Path
                    <span ng-show="sortType == 'module_path'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'resource_name'">
                    Resource ID
                    <span ng-show="sortType == 'resource_name'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'attribute_key'">
                    Key
                    <span ng-show="sortType == 'attribute_key'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="sortType = 'attribute_value'">
                    Value
                    <span ng-show="sortType == 'attribute_value'" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="r in results.results | orderBy:sortType:sortReverse">
                <td><a href="state/{{r.path}}?versionid={{r.version_id}}#{{r.module_path}}.{{r.resource_type}}.{{r.resource_name}}"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></td>
                <td>{{r.path}}</td>
                <td>{{r.tf_version}}</td>
                <td>{{r.serial}}</td>
                <td>{{r.module_path}}</td>
                <td>{{r.resource_name}}</td>
                <td>{{r.attribute_key}}</td>
                <td>{{r.attribute_value}}</td>
            </tr>
        </tbody>
    </table>
</div>
