<div id="mainrow" class="row">
    <div id="leftcol" class="col-md-4">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        General Information
                        <span ng-if="isLocked(path)" ng-init="lock=locks[path]" class="pull-right glyphicon glyphicon-lock" title="Locked by {{lock.Who}} on {{lock.Created | date:'medium'}} ({{lock.Operation}})"></span>
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Version</h4>
                        <select class="form-control" ng-model="selectedVersion" ng-options="version as version.date for version in versions track by version.versionId"></select>

                        <ul>
                            <li class="list-group-item">Terraform version: {{details.terraform_version}}</li>
                            <li class="list-group-item">Serial: {{details.serial}}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h4><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>  Compare with version</h4>
                        <button type="button" class="btn btn-warning pull-right" data-ng-click="compareVersion=undefined">Reset</button>
                        <select class="form-control" ng-model="compareVersion" ng-options="version as version.date for version in versions track by version.versionId"></select>

                        <ul ng-if="display.compare">
                            <li class="list-group-item">Terraform version: {{compare.stats.to.terraform_version}}</li>
                            <li class="list-group-item">Serial: {{compare.stats.to.serial}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="nodes" class="panel panel-info" ng-if="display.details">
                <div class="panel-heading">
                    <h3 class="panel-title">Modules</h3>
                </div>
                <ul id="nodeslist" class="list-group" ng-init="display.mod=selectedmod">
                    <li class="list-group-item form-group" ng-init="resFilter=''">
                        <input class="form-control" id="resFilter" ng-model="resFilter" placeholder="Filter resources..." />
                    </li>
                    <li class="list-group-item" ng-repeat="mod in details.modules">
                        <div ng-click="display.mod = (display.mod != mod) ? mod : selectedmod" class="node-name" ng-class="{selected: mod == selectedmod}">
                            <h4>{{mod.path}}</h4>
                            <span class="badge pull-right">{{resFilter == "" ? '' : filteredRes.length+'/'}}{{Utils.keys(mod.resources).length}}</span>
                        </div>
                        <ul ng-show="display.mod==mod" class="list-group">
                            <li ng-repeat="r in mod.resources | filter:{name:resFilter} as filteredRes"
                                ng-class="{selected: r == selectedres}"
                                ng-click="setSelected(mod, r)" class="list-group-item resource">
                                {{r.name}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="node" class="col-md-8">
        <div class="row">
            <h1>{{path}}</h1>
        </div>
        <!-- Resource details view -->
        <div class="row" ng-if="display.details && selectedres">
            <h2 class="node-title">{{(selectedmod.path == 'root') ? "" : selectedmod.path.replace('root/', '') + "."}}{{selectedres.name}}</h2>
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">Attributes</h4>
                    </div>
                    <table class="table">
                        <thead><th>Attribute</th><th>Value</th></thead>
                        <tbody>
                            <tr ng-repeat="attr in selectedres.attributes | orderBy:'key'">
                                <td class="attr-key">{{attr.key}}</td>
                                <td class="attr-val">{{attr.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Compare view -->
        <div class="row" ng-if="display.compare">
            <div class="panel-group">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4 id="panel-title-diff" class="panel-title">
                            <a data-toggle="collapse" data-target="#panel-body-diff">
                                Differences
                            </a>
                            <span id="badge-diff" class="badge">{{differences}}</span>
                        </h4>
                    </div>
                    <div id="panel-body-diff" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="list-group resource" ng-repeat="(resource, diff) in compare.differences.resource_diff">
                                <div class="resource-title">{{resource}}</div>
                                <hlcode lang="'diff'" code="diff.unified_diff"></hlcode>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 id="panel-title-in-old" class="panel-title">
                            <a data-toggle="collapse" data-target="#panel-body-in-old">
                                Only in serial {{compare.stats.from.serial}}
                            </a>
                            <span id="badge-diff" class="badge">{{only_in_old}}</span>
                        </h4>
                    </div>
                    <div id="panel-body-in-old" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="list-group resource" ng-repeat="(resource, code) in compare.differences.only_in_old">
                                <div class="resource-title">{{resource}}</div>
                                <hlcode lang="'ruby'" code="code"></hlcode>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 id="panel-title-in-new" class="panel-title">
                            <a data-toggle="collapse" data-target="#panel-body-in-new">
                                Only in serial {{compare.stats.to.serial}}
                            </a>
                            <span id="badge-diff" class="badge">{{only_in_new}}</span>
                        </h4>
                    </div>
                    <div id="panel-body-in-new" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="list-group resource" ng-repeat="(resource, code) in compare.differences.only_in_new">
                                <div class="resource-title">{{resource}}</div>
                                <hlcode lang="'ruby'" code="code"></hlcode>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
