<div id="mainrow" class="row">
    <div id="leftcol" class="col-lg-4">
        <div class="panel-group mr-4">
            <div class="card">
                    <h5 class="card-header">
                        General Information
                        <span ng-if="isLocked(path)" ng-init="lock=locks[path]"
                            class="float-right fas fa-lock"
                            title="Locked by {{lock.Who}} on {{lock.Created | date:&apos;medium&apos;}} ({{lock.Operation}})"></span>

                    </h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5><span class="fas fa-thumbtack" aria-hidden="true"></span> Version</h5>
                        <select class="form-control" ng-model="selectedVersion"
                            ng-options="version as version.date for version in versions track by version.versionId"></select>
                        <ul class="mt-2">
                            <li class="list-group-item no-border-item">Terraform version: {{details.terraform_version}}</li>
                            <li class="list-group-item no-border-item">Serial: {{details.serial}}</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <h5><span class="fas fa-exchange-alt" aria-hidden="true"></span> Compare with version
                        </h5>
                        <div class="row justify-content-around">
                            <select class="form-control col-8" ng-model="compareVersion"
                            ng-options="version as version.date for version in versions track by version.versionId"></select>
                            <button type="button" class="btn btn-warning float-right col-3"
                            data-ng-click="compareVersion=undefined">Reset</button>
                        </div>
                        <ul  class="mt-2" ng-if="display.compare">
                            <li class="list-group-item no-border-item">Terraform version: {{compare.stats.to.terraform_version}}</li>
                            <li class="list-group-item no-border-item">Serial: {{compare.stats.to.serial}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="nodes" class="card mt-4" ng-if="display.details">
                <h5 class="card-header">Modules</h5>
                <ul id="nodeslist" class="list-group" ng-init="display.mod=selectedmod">
                    <li class="list-group-item form-group" ng-init="resFilter=&apos;&apos;">
                        <input id="resFilterInput" class="form-control" type="search" ng-model="resFilter"
                            placeholder="Filter resources..."> <span id="resFilterClear"
                            class="far fa-times-circle" ng-click="resFilter=&apos;&apos;" style="margin-right: 10px;"></span>
                    </li>
                    <li class="list-group-item" ng-repeat="mod in details.modules">
                        <div ng-click="display.mod = (display.mod != mod) ? mod : selectedmod" class="node-name"
                            ng-class="{selected: mod == selectedmod}">
                            <h4>{{mod.path ? mod.path : &quot;root&quot;}}</h4>
                            <span
                                class="badge float-right">{{resFilter == &quot;&quot; ? &apos;&apos; : filteredRes.length+&apos;/&apos;}}{{Utils.keys(mod.resources).length}}</span>
                        </div>
                        <ul ng-show="display.mod==mod" class="list-group">
                            <li ng-repeat="r in mod.resources | filter:{name:resFilter} as filteredRes"
                                ng-class="{selected: r == selectedres}" ng-click="setSelected(mod, r)"
                                class="list-group-item resource">{{r.type}}.{{r.name}}{{r.index}}</li>
                            <li ng-class="{selected: outputs}" ng-if="mod.outputs.length &gt; 0"
                                ng-click="setOutputs(mod)" class="list-group-item resource">Outputs</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="node" class="col-lg-8">
        <div class="row">
            <h1>{{path}}</h1>
        </div>
        <!-- Resource details view -->
        <div class="mt-3" ng-if="display.details &amp;&amp; selectedres &amp;&amp; !outputs">
            <h3 class="node-title">{{selectedres.type}}.{{selectedres.name}}{{selectedres.index}}</h3>
            <div class="panel-group">
                <div class="card">
                    <h4 class="card-header">Attributes</h4>
                    <table class="table">
                        <thead>
                            <th>Attribute</th>
                            <th>Value</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="attr in selectedres.attributes | orderBy:&apos;key&apos;">
                                <td class="attr-key">{{attr.key}}</td>
                                <td class="attr-val">{{attr.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Outputs view -->
        <div class="mt-3" ng-if="display.details &amp;&amp; outputs">
            <h3 class="node-title">Outputs for {{selectedmod.path ? selectedmod.path : &quot;root&quot;}}</h3>
            <div class="panel-group">
                <table class="table">
                    <thead>
                        <th>Name</th>
                        <th>Value</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="out in selectedmod.outputs | orderBy:&apos;name&apos;">
                            <td class="attr-key">{{out.name}}</td>
                            <td class="attr-val">{{out.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Compare view -->
        <div class="row mt-3" ng-if="display.compare">
            <div class="panel-group">
                <div class="card mt-3">
                    <h4 id="card-title-diff" class="card-header bg-warning">
                        <a data-toggle="collapse" data-target="#card-body-diff">
                            Differences
                        </a>
                        <span id="badge-diff" class="badge">{{differences}}</span>
                    </h4>
                    <div id="card-body-diff" class="panel-collapse collapse show">
                        <div class="card-body">
                            <div class="list-group resource"
                                ng-repeat="(resource, diff) in compare.differences.resource_diff">
                                <div class="resource-title">{{resource}}</div>
                                <hlcode lang="&apos;diff&apos;" code="diff.unified_diff"></hlcode>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-4">
                    <h4 id="card-title-in-old" class="card-header bg-danger">
                        <a data-toggle="collapse" data-target="#card-body-in-old">
                            Only in serial {{compare.stats.from.serial}}
                        </a>
                        <span id="badge-diff" class="badge">{{only_in_old}}</span>
                    </h4>
                    <div id="card-body-in-old" class="panel-collapse collapse show">
                        <div class="card-body">
                            <div class="list-group resource"
                                ng-repeat="(resource, code) in compare.differences.only_in_old">
                                <div class="resource-title">{{resource}}</div>
                                <hlcode lang="&apos;ruby&apos;" code="code"></hlcode>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-4">
                    <h4 id="card-title-in-new" class="card-header bg-success">
                        <a data-toggle="collapse" data-target="#card-body-in-new">
                            Only in serial {{compare.stats.to.serial}}
                        </a>
                        <span id="badge-diff" class="badge">{{only_in_new}}</span>
                    </h4>
                    <div id="card-body-in-new" class="panel-collapse collapse show">
                        <div class="card-body">
                            <div class="list-group resource"
                                ng-repeat="(resource, code) in compare.differences.only_in_new">
                                <div class="resource-title">{{resource}}</div>
                                <hlcode lang="&apos;ruby&apos;" code="code"></hlcode>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>